    <td>
        <%= text_field("#{prefix}exclusion_area", :lat) %>
    </td>
    <td>
        <%= text_field("#{prefix}exclusion_area", :lon) %>
    </td>
    <td>
        <%= text_field("#{prefix}exclusion_area", :distance) %>
    </td>
