<div class="row">
    <div class="medium-4 columns">
        緯度
    </div>
    <div class="medium-8 columns">
        <%= text_field("#{prefix}exclusion_area", :lat) %>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        経度
    </div>
    <div class="medium-8 columns">
        <%= text_field("#{prefix}exclusion_area", :lon) %>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        距離
    </div>
    <div class="medium-8 columns">
        <%= text_field("#{prefix}exclusion_area", :distance) %>
    </div>
</div>
