<div class="content <% if @active %>active<% end %>" id="user">
  <% @active = false %>
  <%= form_tag(action: :edit_user) do %>
  <table>
      <tr>
          <th>ユーザー</th>
          <th>ロール</th>
      </tr>
  <% @users.each do |user| %>
      <% @user = user %>
      <tr>
          <td><%= user.email %></td>
          <td><%= text_field("user[]", "role") %></td>
      </tr>
  <% end %>
  </table>
  <%= submit_tag("更新") %>
  <% end %>
</div>
