<% content_for(:title) do %>
自転車旅の計画と記録
<% end %>

<div class="btmw-summary-list">
  <div class="row">
    <div class="medium-12 columns">
		<h2>旅の計画 (工事中)</h2>
		<p>
		自転車旅の予定。
		</p>

        <h2><%= link_to "旅の記録", controller: :tour_result, action: :index %></h2>
		<p>
		実際に走った自転車旅の記録。
		</p>
    </div>
  </div>
</div>
