<% content_for(:title) do %>
ログイン
<% end %>

<% content_for(:menus) do %>
<li class="active"><%= link_to "戻る", controller: :summary, action: :index %></li>
<% end %>

<div class="row">
    <div class="medium-12 columns">
        <% unless user_signed_in? %>
        <ul>
            <li><%= link_to "サインアップ", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
        <% end %>
    </div>
</div>
