<% content_for(:title) do %>
管理
<% end %>

<% content_for(:menus) do %>
<li class="active"><%= link_to "戻る", controller: :summary, action: :index %></li>
<% end %>

<script type="text/javascript">
function EditColumn(id)
{
    $("#form_update").show();
    $("#form_create").hide();
    $("#update_exclusion_area_lon").val([$("#data_" + id + "_lon").html()]);
    $("#update_exclusion_area_lat").val([$("#data_" + id + "_lat").html()]);
    $("#update_exclusion_area_distance").val([$("#data_" + id + "_distance").html()]);
    $("#update_exclusion_area_id").val([id]);
}

function CancelEditColumn()
{
    $("#form_update").hide();
    $("#form_create").show();
}
</script>

<div class="btmw-summary-management">
  <div class="row">
    <div class="medium-12 columns">
      <dl class="tabs" data-tab>
        <% if can?(:edit, ExclusionArea) %>
        <dd class="active"><a href="#exclusion">除外区域</a></dd>
        <% end %>
        <% if can?(:edit, Resource) %>
        <dd><a href="#resource">リソース</a></dd>
        <% end %>
        <% if can?(:edit, User) %>
        <dd><a href="#user">ユーザー</a></dd>
        <% end %>
      </dl>

      <div class="tabs-content">
        <% @active = true %>
        <% if can?(:edit, ExclusionArea) %>
        <%= render(partial: "management_tab_exclusion_area") %>
        <% end %>
        <% if can?(:edit, Resource) %>
        <%= render(partial: "management_tab_resource") %>
        <% end %>
        <% if can?(:edit, User) %>
        <%= render(partial: "management_tab_user") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

